body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(205, 232, 236);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}